.root {
  --lighter-black: #222222;
  --dark-gray: #555555;
  --light-light-gray: #979797;

  --violet: #7247ca;
}
.fs-normal {
  font-style: normal;
}
.episode-title {
  color: var(--lighter-black);

  font-size: 26px;
  font-style: normal;
  font-weight: 700;

  padding: 96px 0 44px 0;
}

.episode-mini-sub-title {
  display: flex;

  align-items: center;
  gap: 8px;

  padding-bottom: 14px;
}

.episode-mini-sub-img {
}

.episode-mini-sub-text {
  color: var(--light-light-gray);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.episode-text-title {
  color: var(--lighter-black);

  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 119.048% */

  padding-bottom: 12px;
}

.episode-text {
  color: var(--dark-gray);

  font-family: Source Serif Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;

  padding-bottom: 21px;
}
.episode-text-play {
  /* display: flex;
    align-items: center;
    gap: 8px; */

  padding-bottom: 44px;
}

.episode-text-player-img {
}

.episode-text-player-link {
  color: var(--violet);

  font-family: Source Serif Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}

.next-page-btn {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.next-page-button {
  color: var(--dark-gray);

  font-family: Source Serif Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  text-transform: uppercase;
  padding:8px;
}
