@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300;8..60,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Source Serif 4', serif;
}

:root {
    --white: #fff;
    --light-gray: #EAEAEE;
    --line-gray: #F5F5F7;
    --lighter-black: #222222;
    --dark-gray: #555555;
    --light-light-gray: #979797;
    --violet: #7247CA;
}

button {
    cursor: pointer;
}

i {
    cursor: pointer;
}

body {
    overflow-x: hidden;
}


/* navbar */

nav {
    width: 100%;
    border-bottom: solid 1.2px var(--light-gray);
    padding-top: 33px;
    padding-bottom: 33px;
}

.nav-a {
    color: var(--lighter-black);
    border: none;
    background-color: var(--white);
    text-transform: uppercase;
}

.same-season {
    font-size: 14.5px;
}

.anoth {
    margin-top: 16px;
}

.same-link {
    color: var(--light-light-gray);
}
  
.contenting {
    text-transform: capitalize;
    position: absolute;
    margin-left: -5px;
    background-color: var(--white);
    padding: 12px 18px 0 18px;
    overflow: auto;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.container {
    padding:0 14%;
}

.phone-cont {
    margin-top: 20px;
    display: none;
}

.centretor {
    display: flex;
    justify-content: center;
    text-align: center;
}

.episod-container-ph {
    text-align: center;
}

.same-seasons {
    margin-top: 5px;
}

.same-phone-icons {
    margin-top: 18px;
}

.same-phone-iconi {
    margin-top: 10px;
}

.contenter {
    text-transform: capitalize;
    position: absolute;
    margin-left: -5px;
    background-color: var(--white);
    padding: 12px 18px 0 18px;
    overflow: auto;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.nav-server {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.nav-second {
    text-transform: uppercase;
    display: flex;
}

.heart:hover {
    color: var(--violet);
    font-size: 17px;
    transition: 0.3s;
}

.content-for-ph {
    text-align: center;
    position: relative;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: var(--white);
    padding: 0px 18px 0 18px;
    overflow: auto;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.change-nav {
    margin-left: 39px;
}

.phone-nav {
    display: none;
}

/* end of navbar */

.first-part {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 96px;
    height: 700px;
    width: 100%;
}

.about-music {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.music-cntrl {
    width: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.music-apps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-add {
    color: var(--lighter-black);
    margin-top: 39px;
    font-size: 26px;
}

.full-line {
    height: 7px;
    width: 100%;
    background-color: var(--line-gray);
    border-radius: 2px;
}

.where-line {
    height: 7px;
    width: 30%;
    border-radius: 2px;
    background-color: var(--lighter-black);
}

.now-time {
    color: var(--dark-gray);
    letter-spacing: 1.90px;
    margin-right: 4px;
}

.end-time {
    color: var(--dark-gray);
    letter-spacing: 1.90px;
    margin-left: 10px;
    margin-right: 10px;
}

.play {
    margin-right: 15px;
}

.sound {
    margin-right: 15px;
}

.add {
    margin-top: 40px;
}

.sizing {
    font-size: 20px;
}

.listen-on {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.90px;
}

.icon {
    font-size: 25px;
    margin-right: 30px;
    margin-top: 15px;
}

.apple {
    margin-top: 15px;
    font-size: 25px;
}

.br {
    display: none;
}

.about-sec {
    color: var(--light-light-gray);
}

.second-part {
    text-align: center;
    text-align: start;
    display: flex;
    justify-content: center;
    color: var(--dark-gray);
}

.seconds-head {
    margin-top: 39px;
    font-size: 21px;
    color: black;
}

.second-server {
    line-height: 25px;
    width: 678px;
}

.second-txt {
    margin-top: 24px;
}

.third-txt {
    margin-top: 10px;
}

.button {
    margin-top: 48px;
    width: 100%;
    height: 78px;
    background-color: #555555;
}

.view-transcript {
    cursor: pointer;
    text-align: start;
    font-size: 21px;
    width: 100%;
    height: 100%;
    padding-left:24px;
    background-color: white;
    border: solid 1.4px var(--light-gray);
}

.hash-tag {
    padding-top: 48px;
}

.tag {
    color: var(--dark-gray);
    margin-right: 24px;
}

.line-txt {
    margin-top: 24px;
}

.line-txt-2 {
    margin-top: 39px;
}

.icons {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.share-txt {
    margin-right: 24px;
    color: black;
}

.related-post {
    font-size: 26px;
    color: var(--lighter-black);
}

.img-txt {
    display: flex;
    margin-top: 24px;
}

.img-head {
    color: var(--lighter-black);
    font-size: 21px;
}

.sml-txt {
    font-size: 14px;
}

.text-part {
    margin-left: 39px;
}

.nearly-three {
    margin-top: 48px;
}

.date {
    margin-top: 16px;
}

.read-more {
    margin-top: 39px;
}

.hr {
    margin-top: 48px;
}

.same-line {
    border: none;
    background-color: var(--light-gray);
    height: 1.4px;
}

/* registration */

.inp {
    width: 100%;
    height: 42px;
    border: none;
    background-color: var(--line-gray);
    border-radius: 4px;
    margin-top: 4px;
}

.comment-side {
    margin-top: 4px;
    width: 670px;
    height: 150px;
    resize: none;
    border: none;
    background-color: var(--line-gray);
    border-radius: 4px;
}

.same-inp {
    margin-top: 28px;
}

.another {
    display: flex;
    align-items: center;
}

.save-prt {
    font-size: 14px;
}

.comment {
    margin-top: 35px;
}

.registration-part {
    padding-top: 48px;
    width: 670px;
}

.txt {
    color: var(--dark-gray);
}

.marked-req {
    font-size: 14px;
    font-weight: 300;
    color: var(--light-light-gray);
}

.head-req {
    color: var(--lighter-black);
}

.checkbox {
    height: 18px;
    width: 18px;
    margin-right: 8px;
}

.submit-btn {
    color: var(--white);
    border: none;
    background-color: var(--violet);
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 39px;
}

.right-chrv {
    font-size: 12px;
    margin-left: 8px;
}

.line-txt-3 {
    margin-top: 48px;
}
/* end of registration */

/* comment part */

.comments-block {
    padding-top: 68px;
}

.same-pers {
    display: flex;
    margin-top: 39px;
}

.text-comment {
    color: var(--lighter-black);
}

.name-date {
    display: flex;
    align-items: center;
}

.img-comment {
    margin-right: 24px;
}

.name-of-user {
    font-size: 17px;
    margin-right: 16px;
}

.comment-txt {
    margin-top: 16px;
}

.reply {
    margin-top: 16px;
}

.scarlet {
    margin-left: 70px;
}

.date-post {
    color: var(--light-light-gray);
    font-weight: 300;
}

.phone-ver {
    display: none;
}

.reply-btn {
    color: var(--light-light-gray);
}

/* end of comment part */

/* footer part */

footer {
    margin-top: 64px;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
}

.head-foot {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: var(--lighter-black);
}

.send-email {
    border: none;
    background-color: var(--line-gray);
    padding: 15px;
    height: 42px;
    width: 280px;
    outline: none;
    border-radius: 4px;
}

.btn-submit-email {
    height: 35px;
    width: 35px;
    border: none;
    background-color: var(--violet);
    color: var(--white);
    border-radius: 4px;
}

.submit-cont {
    margin-top: 14px;
    background-color: var(--line-gray);
    padding-right: 3px;
    border-radius: 4px;
}

.mid-wrd {
    margin-top: 8px;
}

.footer-links {
    color: var(--dark-gray);
}

.to-move {
    margin-top: 12px;
}

.last-cont {
    margin-top: 89px;
}

.line-txt-4 {
    margin-top: 64px;
}

.last-txt {
    text-align: center;
    color: var(--lighter-black);
}

.same-icon {
    margin-right: 23px;
    font-size: 18px;
}

.last-icons {
    color: var(--lighter-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    padding-bottom: 46px;
}
/* end of footer part */

.content {
    border: solid 1px var(--light-gray);
    line-height: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 0;
    transition: max-height ease-out;
    height: 330px;
    width: 100%;
}

.pointer {
    cursor: pointer;
    margin-left: 10px;
    color: var(--violet);
}

/* Media Part */

@media screen and (max-width: 920px) {
    .change-nav {
        margin-left: 30px;
    }
    .container {
        padding:0 11%;
    }
}

@media screen and (max-width: 820px) {

    .second-server {
        padding: 0 20px;
    }

    .phone-nav {
        display: block;
    }

    .nav-first {
        padding-top: 8px;
    }

    nav {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .others {
        display: none;
    }

    .music-cntrl {
        width: 480px;
    }

    .comment-side {
        width: 100%;
    }

    .registration-part {
        padding-top: 48px;
        width: 100%;
    }


}

@media screen and (max-width: 505px) {

    .br {
        display: inline;
    }
 
    .music-cntrl {
        width: 340px;
        margin-left: 3%;
    }

    .download {
        display: none;
    }

    .img-txt {
        display: block;
    }

    .text-part {
        margin-left: 0px;
    }

    .img-head {
        margin-top: 16px;
    }

    .read-more {
        margin-top: 18px;
    }

    .desk-ver {
        display: none;
    }

    .phone-ver {
        display: inline;
    }

    .name-date {
        display: block;
        padding-bottom: 16px;
    }

    .second-footer-div {
        margin-top: 32px;
    }

    .last-txt {
        font-size: 14px;
    }

    .send-email {
        width: 85%;
    }

    .submit-cont {
        width: 90%;
    }

    .footer-cont {
        display: block;
    }

        
} 

@media screen and (max-width: 418px) {

    .music-cntrl {
        width: 320px;
        margin-left: 5px;
    }

    .about-sec {
        font-size: 12px;
    }

} 

@media screen and (max-width: 350px) {

    .view-transcript {
        padding-left: 0px;
    }

    .music-cntrl {
        width: 260px;
        margin-left: 11%;
    }

    .txt {
        font-size: 12px;
        line-height: 19px;
    }

    .br {
        display: none;
    }

    .tag {
        font-size: 10px;
    }

    .button {
        height: 2%;
    }

    .save-prt {
        font-size: 10px;
    }

    .send-email {
        width: 220px;
    }

    .submit-cont {
        width: 270px;
    }

    .last-txt {
        font-size: 10px;
    }

} 

