@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300;8..60,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Source Serif 4', serif;
}

:root {
    --white: #fff;
    --light-gray: #EAEAEE;
    --line-gray: #F5F5F7;
    --lighter-black: #222222;
    --dark-gray: #555555;
    --light-light-gray: #979797;
    --violet: #7247CA;
}

body {
    overflow-x: hidden ;
}

button {
    cursor: pointer;
}

i {
    cursor: pointer;
}

/* navbar */

nav {
    width: 100%;
    border-bottom: solid 1.2px var(--light-gray);
    padding-top: 33px;
    padding-bottom: 33px;
}

.nav-a {
    color: var(--lighter-black);
    border: none;
    background-color: var(--white);
    text-transform: uppercase;
}

.clocker {
    border-radius: 4px;
}

.same-season {
    font-size: 14.5px;
}

.anoth {
    margin-top: 16px;
}

.same-link {
    color: var(--light-light-gray);
}
  
.content {
    text-transform: capitalize;
    position: absolute;
    margin-left: -5px;
    background-color: var(--white);
    padding: 12px 18px 0 18px;
    overflow: auto;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.phone-cont {
    margin-top: 20px;
    display: none;
}

.centretor {
    display: flex;
    justify-content: center;
    text-align: center;
}

.episod-container-ph {
    text-align: center;
}

.same-seasons {
    margin-top: 5px;
}

.same-phone-icons {
    margin-top: 18px;
}

.same-phone-iconi {
    margin-top: 10px;
}

.content-for-ph {
    text-align: center;
    position: relative;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: var(--white);
    padding: 0px 18px 0 18px;
    overflow: auto;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}


.container {
    padding:0 14%;
}

.nav-server {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.nav-second {
    text-transform: uppercase;
    display: flex;
}

.heart:hover {
    color: var(--violet);
    font-size: 17px;
    transition: 0.3s;
}

.change-nav {
    margin-left: 39px;
}

.phone-nav {
    display: none;
}

/* end of navbar */

.second-part {
    margin-top: 96px;
}

.br {
    display: none;
}

.first-part {
    display: flex;
    justify-content: center;
}

.first-server {
    text-align: center;
}

.about-music {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.music-cntrl {
    width: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.music-apps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-add {
    color: var(--lighter-black);
    margin-top: 39px;
    font-size: 26px;
}

.current-time {
    color: var(--dark-gray);
    letter-spacing: 1.90px;
    margin-right: 4px;
}

.total-duration {
    color: var(--dark-gray);
    letter-spacing: 1.90px;
    margin-left: 10px;
    margin-right: 10px;
}

.playpause-track {
    margin-right: 15px;
}

.sound {
    margin-right: 15px;
}

.seek_slider {
    width: 100%;
    color: black;
}

.seek_slider{
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    height: 7px;
    border-radius: 2px;
    background-color: #F5F5F7;
    overflow: hidden;
}

.seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 0px;
    background: black;
    cursor: pointer;
    box-shadow: -410px 0 0 400px #222222;
}

.add {
    margin-top: 40px;
}

.sizing {
    font-size: 20px;
}

.listen-on {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.90px;
}

.icon {
    font-size: 25px;
    margin-right: 30px;
    margin-top: 15px;
}

.apple {
    margin-top: 15px;
    font-size: 25px;
}

/* footer part */



footer {
    margin-top: 64px;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
}

.head-foot {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: var(--lighter-black);
}

.send-email {
    border: none;
    background-color: var(--line-gray);
    padding: 15px;
    height: 42px;
    width: 280px;
    outline: none;
    border-radius: 4px;
}

.btn-submit-email {
    height: 35px;
    width: 35px;
    border: none;
    background-color: var(--violet);
    color: var(--white);
    border-radius: 4px;
}

.submit-cont {
    margin-top: 14px;
    background-color: var(--line-gray);
    padding-right: 3px;
    border-radius: 4px;
}

.mid-wrd {
    margin-top: 8px;
}

.footer-links {
    color: var(--dark-gray);
}

.to-move {
    margin-top: 12px;
}

.last-cont {
    margin-top: 89px;
}

.line-txt-4 {
    margin-top: 64px;
}

.last-txt {
    text-align: center;
    color: var(--lighter-black);
}

.same-icon {
    margin-right: 23px;
    font-size: 18px;
}

.last-icons {
    color: var(--lighter-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    padding-bottom: 46px;
}

.icon {
    color: var(--lighter-black);
}

.apple {
    color: var(--lighter-black);
}

.sizing {
    color: var(--lighter-black);
}

/* podcasts */

.top-date {
    display: flex;
    align-items: center;
}

.podcast-name {
    font-size: 21px;
    color: var(--lighter-black);
    margin-top: 14px;
}

.new-min-btn {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding: 0px 10px;
    background-color: var(--line-gray);
    color: var(--violet);
    border-radius: 3px;
}

.same-icon {
    margin-right: 23px;
    font-size: 18px;
}

.last-icons {
    color: var(--lighter-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    padding-bottom: 46px;
}

.podcast-text {
    margin-top: 12px;
}

.listen-now {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: var(--violet);
    color: white;
}

.listen {
    font-size: 13px;
    margin-left: 2px;
}

.listen-txt {
    color: var(--violet);
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 10px;
    letter-spacing: 1.92px;
}

.differ {
    margin-left: 8px;
}

.date-what {
    color: var(--light-light-gray);
    font-weight: 300;
    font-size: 14px;
}

.same-podcast {
    margin-top: 55px;
}

.head-txt {
    font-size: 26px;
    color: var(--lighter-black);
}

.same-podcast {
    margin-top: 96px;
}

.section-change {
    height: 30px;
    width: 30px;
    background-color: var(--line-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 5px;
}

.special {
    padding-bottom: 8px;
}

.sections-cont {
    display: flex;
    align-items: center;
    margin-top: 64px;
}

#special-sec {
    background-color: var(--white);
    margin-left: 5px;
}

/* end of podcasts */

/* cards */

.cards-cont {
    display: flex;
    margin-top: 25px;
}

.first-card-cont {
    margin-right: 70px;
}

.same-cont {
    height: 435px;
    width: 300px;
    background-color: var(--line-gray);
}

.icon-cont {
    display: flex;
    align-items: end;
    align-items: center;
    margin-top: 35px;
}

.spec-icon {
    margin-right: 15px;
}

.text-cards {
    padding: 5px 16px;
}

.position {
    color: var(--violet);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.92px;
}

.nick-name {
    color: var(--lighter-black);
    font-size: 18px;
}

.team {
    font-size: 26px;
    color: var(--lighter-black);
    margin-top: 64px;
}

/* end of cards */

/* end of footer part */

.line-txt-4 {
    margin-top: 64px;
}

.same-line {
    border: none;
    background-color: var(--light-gray);
    height: 1.4px;
}


.second-part {
    text-align: center;
    text-align: start;
    display: flex;
    justify-content: center;
    color: var(--dark-gray);
}

.second-server {
    line-height: 25px;
    width: 678px;
}

/* podcast create */

.related-post {
    font-size: 26px;
    color: var(--lighter-black);
}

.img-txt {
    display: flex;
    margin-top: 24px;
}

.img-head {
    color: var(--lighter-black);
    font-size: 21px;
}

.sml-txt {
    font-size: 14px;
}

.text-part {
    margin-left: 39px;
}

.nearly-three {
    margin-top: 64px;
}

.date {
    margin-top: 16px;
}

.read-more {
    margin-top: 39px;
}

/* end of podcast create */


/* details for Site */

.box-shad {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.section-change {
    cursor: pointer;
}

.hearting:hover {
    transition: 0.4s;
    background-color: var(--violet);
    color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.submit-shad {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.box-shad-img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.box-shad-min-box {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.box-shad-min-img {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.hovering:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.3s;
}

.spec-icon:hover {
    transition: 0.3s;
}

.fa-linkedin-in:hover {
    color: rgb(10, 102, 194);
}

.fa-github:hover {
    color: #171515;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

/* end of details */

/* Media part */

@media screen and (max-width: 920px) {
    .change-nav {
        margin-left: 30px;
    }
    .container {
        padding:0 11%;
    }
}

@media screen and (max-width: 820px) {

    .containers {
        padding: 0 -2%;
    }

    .music-cntrl {
        width: 480px;
    }

    .second-server {
        padding-left: 1%;
        padding-right: 1%;
    }
    .phone-nav {
        display: block;
    }

    .nav-first {
        padding-top: 8px;
    }

    nav {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .others {
        display: none;
    }

}


@media screen and (max-width: 820px) {

    .cards-cont {
        display: block;
        width: 288px;
    }

    .second-card-cont {
        margin-top: 30px;
    }

    .second-server {
        padding-left: 12%;
        padding-right: 12%;
    }

}

@media screen and (max-width: 505px) {

    .cards-cont {
        display: block;
        width: 288px;
    }

    .music-cntrl {
        width: 340px;
        margin-left: 3%;
    }

    .br {
        display: inline;
    }

    .send-email {
        width: 85%;
    }

    .submit-cont {
        width: 90%;
    }

    .footer-cont {
        display: block;
    }

    .second-footer-div {
        margin-top: 32px;
    }

    .last-txt {
        font-size: 14px;
    }

    .send-email {
        width: 80%;
    }

    .submit-cont {
        width: 63%;
    }

    .last-txt {
        font-size: 10px;
    }

    .mobile-ver {
        display: block;
    }

    .desktop-ver {
        display: none;
    }

    .second-part {
        padding-top: 46px;
    }

    .img-txt {
        display: block;
    }

    .text-part {
        margin-left: 0px;
    }
}

@media screen and (max-width: 418px) {

    .second-server {
        padding-left: 10%;
        padding-right: 10%;
    }

    .music-cntrl {
        width: 320px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 440px) {

    .second-server {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (max-width: 300px) {

    .second-server {
        padding-left: 30px;
    }

    .music-cntrl {
        width: 260px;
        margin-left: 3%;
    }

    .send-email {
        width: 80%;
    }

    .submit-cont {
        width: 200px;
    }

    .last-txt {
        font-size: 10px;
    }

}