:root {
  --black: #222;
  --violet: #7247ca;
  --dark-gray: #555555;
  --white: #fff;
}
.center {
  text-align: center;
}
.error-code {
  color: var(--black);
  font-size: 144px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding: 96px 0 21px 0;
}

.error-code-title {
  color: var(--black);
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 123.077% */
  padding-bottom: 19px;
}

.error-code-text {
  color: var(--dark-gray);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
  padding-bottom: 22px;
}

.btn-arrow {
}

.button-arrow {
}
.button-arrow:hover {
    background:#6c29f0 ;


}
.button-arrow-img {
  padding-left: 10px;
}

@media screen and (max-width: 479px) {
  .error-code {
    padding: 48px 0 21px 0;
  }
  .error-code-text {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
  }



  .error-code-text {
    display: none;
  }
}
